.header {
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.3s;
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
  color: var(--body-color);
  transition: 0.3s;
  cursor: pointer;
}

.navbar__list {
  display: flex;
  column-gap: 2rem;
}

.navbar__logo i {
  font-size: 2rem;
}

.navbar__link {
  color: var(--body-color);
  padding: 0.5rem;
}

.navbar__link:hover {
  color: var(--secondary-color);
}

.navbar__buttons {
  display: flex;
  gap: 1.25rem;
}

.navbar__button {
  color: var(--body-color);
}
